.input{
    height: 40px;
    width: 200px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    display: block;
}

.form{
    display: inline-block;
   justify-items: center;

}

button{
    display: block;
    
}
.button{
    padding: 12px 20px;
    margin: 8px 0;

}
.user-sign-in-form{
    text-align: center;
}